:root{
    --primary-color:#A3320B;
    --secondary-color:#6B0504;
    --third-color:#241023;
}

div#content{
    margin:0 auto;
    width: 90%;
    display:grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 0.8fr 1fr 1fr;
}

header{
    width: 100%;
    grid-column: 1/3;
    height: auto;
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows:  0.01fr 1fr;
}

div#header_color{
    grid-row-start: 1;
    grid-column:1/6;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
}

div#header_color #search{
    margin-bottom: 0.05rem;
    float: left;
    width: 20%;
    height: 30%;
    margin-left: 76%;
    color: white;
    background-color: #995a96bd;
   
}
div#header_color #search-button{
    float:left;
    height: 50%;
    width: 10%;
    margin-left: 86.5%;
    font-weight:bold;
    background-color:#cf110e;
}

div#header_top{
    width: 100%;
    display: grid;
    grid-row-start:2;
    grid-column: 1/6;
    grid-template-columns: 3;
    background-color: #cf110e49;

}

div#header_top #part1{
    grid-column:1/3;
    grid-row:1/5; 
}
#part1 img{
   width: 100%;
   height:100%;
   grid-row:1/4; 
}

div#header_top #part2{
    grid-column: 3/4;
    grid-row: 2/5;
    margin: auto;
    font-size: x-large;
    

}

div#header_top #part3{
    grid-column: 4/6;
    grid-row:1/5;

}

.tab_link > li{
    margin-bottom: 2rem;
    display: block;
}

.tab_link li:hover{
    border: 0.5em solid #A3320B;
}



#part2 img{
    width: 100%;
    height: fit-content;
}

#part3 img{
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 1000px) {
    #logo img {
        width: 100%;
    }
}

div#header_top a{
    text-decoration: none;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

div.tab_link:hover {
    border: 1.2px solid var(--primary-color);
}

#logo img{
    max-width: 100%;
}

#logo{
    padding: 1rem;
    grid-column: 3/4;
    grid-row-start:1;
}
@media only screen and (max-width: 1000px) {
    #logo {
        margin-left: 3em;
        padding: 0rem;
        width: 60%;
    }
    #part2 img {
        margin-top:-4.7em;
    }

    div#header_top #part2{
        grid-column: 3/4;
        grid-row: 2/4;
    }
}

@media only screen and (max-width: 600px) {
    #logo {
        margin-left: 0em;
        margin-top:0.7em;
        padding: 0rem;
        width: 100%;
    }
    div#header_top #part2{
        grid-column: 3/4;
        grid-row: 2/4;
        
        
    }
}


div#header_middle{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column: 1/2;
    text-align: center;
    align-items:flex-start;
    font-size: x-large;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #6b06044d;
    
}
div#header_middle a{
    display: block;
    text-decoration: none;
    color: var(--secondary-color);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
div#header_middle img{
    max-width: 25%;
}

div#header_middle div:nth-child(3) img{
    max-width: 30%;
}

div#header_middle div:hover{
   border: 0.5rem solid #A3320B ;
}

main{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1/ span 3;
}

div#column_left_bar{
    grid-column: 1/2;
    margin-right: 2em;
    margin-top: 2em;
    border-bottom: 0.8em solid #A3320B;
    border-top: 0.8em solid #A3320B;
    background-color: #a3310b69;
}

div#column_left_bar img{
    width: 100%;
    height: fit-content;  
}

div#column_left_bar p{
    font-size: x-large;  
    color: var(--third-color);
    font-weight: bold;
    text-align: center;
}
section{
    display: grid;
    grid-column: 2/4;
    gap: 1em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.04fr 1fr 1fr;
    margin-left: 2rem;
    border-bottom: 1em solid #A3320B ;
}

section h3{
    text-align: center;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#241023;
    border-bottom: 1em solid #A3320B ;
    border-top: 1em solid #A3320B ;
    grid-column: 1/3;
}

section#news img{
    width: 100%;
    float: left;
}

section#news div{
    margin-top: -0.1em;
    font-size: x-large;  
    color: var(--third-color);
    font-weight: bold;
    text-align: center;
    background-color: rgba(250, 235, 215, 0.438);  
}

#news p{
    margin-top: 8em;
    background-color: rgba(245, 245, 245, 0.473);
}

section#news div:nth-child(2){
    background-image: url(Academy/Alumnos.jpg); 
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
     
}

section#news div:nth-child(3){
    background-image: url(Academy/AlumnoLaboratorio.jpg);
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
}

section#news div:nth-child(4){
    background-image: url(Academy/AlumnosPosgrado.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
     
}

section#news div:nth-child(5){
    background-image: url(Academy/Adistancia.jpg);
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat; 
    
}

footer{
    grid-row-start: 3;
    grid-column:1/4;
    margin-top: 3em;
}

div#Information{
    display: grid; 
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    align-content: center;
    background-color: #6b06044d;
}

div#Information ul:nth-child(2){
    grid-column:2/3;
}

div#Information ul:nth-child(3){
    grid-column:3/4;
}

div#Information li{
    padding-bottom: 2rem;
}

div#footer_bottom{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    align-content:center;
}

div#footer_bottom li{
    padding-bottom: 2rem;
}

li{list-style: none;}

div#footer_bottom{
    background-color: #A3320B;
    align-items: center;
}

div.logo img{
    width: 60%;
    max-width: 90%;
}

#footer_bottom ul:nth-child(1) > li{
    display:inline;
}

#footer_bottom ul:nth-child(3) > li{
   padding-bottom: 1em;
   font-weight: bold;
}
@media only screen and (max-width: 1000px) {
    #logo img {
        width: 100%;
    }
}
@media only screen and (max-width:968px){
    #part3 img{
        display:none;
    }
    
    #part2, #part2 ul{
        width: 40%;
    }
    #logo img, #part2 ul{
        margin-left:3em;
    }
    #part1 img{
        width: 120%;
    }
}

@media only screen and (max-width:610px){
   div#header_top{
       display:inline;
   }
   div#part1 img{
       width: 95%;
       margin: auto;
   }
}
@media only screen and (max-width: 1000px) {
    #logo {
        margin-left: 3em;
        padding: 0rem;
        width: 60%;
    }
    #part2 img {
        margin-top:-4.7em;
    }

    div#header_top #part2{
        grid-column: 3/4;
        grid-row: 2/4;
    }
}

@media only screen and (max-width: 600px) {
    #logo {
        margin-left: 0em;
        margin-top:0.7em;
        padding: 0rem;
        width: 100%;
    }
    div#header_top #part2{
        grid-column: 3/4;
        grid-row: 2/4;
    }
  
}

@media only screen and (max-width:960px){
    #news div p{
        margin-top: 1em;
        font-size: medium;
    }   
    div#initiatives{
        display: none;
       }


@media only screen and (max-width:610px){
    main{
         display: inline;
        }
    section#news{
        display: inline;
        }
    section#news div{
        width: 100%;
        height:35%;
        }
    div#initiatives{
         display: none;
        }
    div#footer_bottom{
        display: inline;
        background-color:#A3320B;
        }
    #logo img{
        width: 80%;
        }
    div#header_color #search-button{
        margin-left: 85%;
        width: auto;
        }
    div#header_color #search{
        width:30%;
        margin-left: 66%
        }
    footer {
        margin-top:15em;
        grid-row-start: 4;
        grid-column: 1/4;
    }
    section#news p{
        font-size: xx-large;
        text-align: center;
        }
    }
    div#Information{
        grid-template-columns: repeat(2,1fr);
    }
}
